<div>
    <div id="{{name}}" {% if height %}style="height:{{height}};"{% endif %}></div>
    <script type="text/javascript" src="{{ get_url(path="assets/js/viewstl/stl_viewer.min.js") }}"></script>
    <script>
        const {{name}} = new StlViewer(document.getElementById("{{name}}"), {
            models: [
                {
                    id:0,
                    filename:'{{ get_url(path="upload/")}}/{{pid}}/{{name}}.stl'
        }
        ],
        });
    </script>
    <div id="download-{{name}}" class="download">
        <!-<a href="{{ get_url(path="upload/")}}/{{pid}}/{{name}}.stl" download="{{name}}.stl" target="_blank">Download {{name}}.stl</a>
    </div>
</div>